
<img src="https://images.unsplash.com/photo-1584091377126-3817650725fc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" class="img-fluid" alt="Responsive image" style="width:100%; height: 500px;" >


<div class="jumbotron" style="background-image: url('https://images.wallpaperscraft.com/image/leaves_dark_plant_136935_3415x3415.jpg'); background-size:100%;">
  <h1 class="display-4"  class="text-white ">Notification ON or OFF </h1>
  <p class="lead" ><h4 class="text-white "></h4>
  <hr class="my-4">
  <!-- <div class="alert alert-info" role="alert" style="background-image: url('https://images.wallpapersden.com/image/download/4k-dark-sunset_68821_3840x2160.jpg'); background-size:100%;"> -->
   <h3 ><i  class="text-white ">________________________________________________________________________________________________________________________________________________________</i></h3> 
  <br>
  <br>
  <br>
  <br>
  <p class="lead">
    <div class="container">
      

      <div class="row">
        <div class="col">
          <div>
            <input id="on" type="radio" class="custom-control-input" value="true" name="Notification" [formControl]="radioFormControl" >
            <label class="custom-control-label" for="on" ><h4 class="text-white "><i class="fa fa-bell" > TURN ON</i></h4></label>
         </div>
        </div>
        <div class="col">
          <div>
            <input id="off" type="radio" class="custom-control-input" value="false" name="Notification" [formControl]="radioFormControl">
            <label class="custom-control-label"  for="off" ><h4 class="text-white "><i class="fa fa-bell" >TURN OFF</i></h4></label>
         </div>
        </div>
      <!-- </div> -->
  
  <br>
  <br>
  <br>
  <br>
 
 
      
      
      

        
       
      </div>
     
      <br>
      <br>
      
    </div>   
    <button type="button" class="btn btn-danger btn-lg btn-block" (click)="submitForm( )">Click</button>
</div>






