<!DOCTYPE html>
<html>

	<header>

		<div class="title">
				<h1>I N F E R N O</h1>
		</div>	
	</header>	

<body>
		

<div class="row"> 
    <div class="column">
        <div class="container">		
            <img src="assets\images\image_1.jpg" style="width:100%" class="image">
        </div>
        <div class="container">		
            <img src="assets\images/image_9.jpg" style="width:100%" class="image">
        </div>
    </div>
    <div class="column">
        <div class="container">
            <img src="assets\images/image_2.jpg" style="width:100%" class="image">
        </div>
        <div class="container">
            <img src="assets\images/image_3.jpg" style="width:100%" class="image">
        </div>
        <div class="container">
            <img src="assets\images/image_10.jpg" style="width:100%" class="image">
        </div>
    </div>  
    <div class="column">
        <div class="container">
            <img src="assets\images/image_4.jpg" style="width:100%" class="image">
        </div>
        <div class="container">
            <img src="assets\images/image_7.jpg" style="width:100%" class="image">
        </div>
        <div class="container">
            <img src="assets\images/image_8.jpg" style="width:100%" class="image">
        </div>
    </div>
    <div class="column">
        <div class="container">
            <img src="assets\images/image_5.jpg" style="width:100%" class="image">
        </div>
        <div class="container">
            <img src="assets\images/image_6.jpg" style="width:100%" class="image">
        </div>
    </div>
</div>

<div style="margin-left: 500px; text-align: justify;">

 <section id="about" class="introduction scrollto">

    <div class="row clearfix">
    <div class ="aboutsidep">
        <div class="col-3">
            <div class="section-heading">
                <h3>We are here to make World safer!</h3><br />
                <h2 class="section-title">I N F E R N O</h2><br />

            <hr class = "new2"><br /><br /><br />

            <p class="section-subtitle">The weather plays a major role in Forest and Wildfire 
                Wildfire fueled by both the different types of weather and unacceptable human activities
                When it comes to the weather, we cannot control it as like human activities</p><br /><br />

                <p class="section-subtitle">"Our aim is predicting forest fires based on global weather
                    statistics, reduce the harm of the wild fires,
                    and reduce cost to
                    extinguish those fires."</p><br /><br />

                    <p class="section-subtitle">Using past data and Machine Learning algorithms, our system will help tp predict which areas are going to be affected 
                        by the Forest Fire soon </p>
            </div>

        </div>

        <div class="col-2-3">

            <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.1s">


                <div class="icon-block-description">
                    <h4>HOW WE BUILD...</h4><hr class = "new1"><br />
                    <p>Because of a major problem that World has to face, we came up with an idea to pre predict Forest Fires only causes on Climate Changers</p>
                </div>
            </div>



            <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.3s">


                <div class="icon-block-description">
                    <h4>WHAT WE DO...</h4><hr class = "new1"><br />
                    <p>Simply, for pre predict the future Forest Fires based on global warming, we are using plenty of datasets of historical Global warming and historical Forest Fire data sets
                    <br /><br /> Therefore, using these data sets to identify a pattern between increasing of the global warming and the historical Forest Fires</p>
                </div>
            </div>



            <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.5s">


                <div class="icon-block-description">
                    <h4>WHY DO WE DO...</h4><hr class = "new1"><br />
                    <p>To extinguish Forest Fires, Government costs billions of money and the damage of these Forest Fires costs more than that<br /><br />
                        Main problem with the Fire Brigades and the Governments with this Forest Fires is they cannot get ready for these Forest Fires early </p>
                </div>
            </div>


            <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.5s">


                <div class="icon-block-description">
                    <h4>HOW WE WORK...</h4><hr class = "new1"><br />
                    <p>By using many new Algorithms and Technologies we are gathering plenty of datasets of historical Global warming and historical Forest Fires<br /><br />
                        Through the functions and components which are inter connected together have been implemented to work</p>
                </div>
            </div>


        </div>
</div>>
</div>
</section>
</div>

</body>

  
</html>
