
  <div class="embed-responsive embed-responsive-16by9">
    <meta http-equiv="X-Frame-Options" content="deny">
        <iframe class="embed-responsive-item" X-Frame-Options= "sameorigin" src="assets/infernoMap.html"></iframe>
  </div> 
  

<div class="jumbotron" style="background-image: url('https://get.pxhere.com/photo/background-nature-leaves-green-green-leaves-dark-darkness-dark-green-botanic-botany-texture-leaf-flora-wallpaper-color-plant-close-up-environment-vegetation-terrestrial-plant-tree-rainforest-organism-forest-vascular-plant-jungle-fern-1594712.jpg'); background-size:100%;">
  <h1 class="display-4" class="text-white"><h1>Weather Graphs</h1></h1>
  <p class="lead" class="text-white">One of the most visible consequences of a warming world is an increase in the intensity and frequency of extreme weather events. The National Climate Assessment finds that the number of heat waves, heavy downpours, and major hurricanes has increased in the United States, and the strength of these events has increased, too.</p>
  <hr class="my-4">
  
  <div><img src="assets/new/s1.png" class="rounded" alt=""></div>
  <br>
  <a class="btn btn-primary btn-lg" href="https://weatherspark.com/" role="button">Learn more</a>
</div>
<div class="jumbotron" style="background-image: url('https://get.pxhere.com/photo/leaves-green-color-green-leaves-dark-darkness-nature-leaf-dark-green-texture-background-garden-botany-botanic-drops-pattern-design-organism-plant-illustration-1594520.jpg'); background-size:100%;">
  <h1 class="display-4" class="text-white">Humidity Distribution Graph</h1>
  <p class="lead" class="text-white">Relative humidity is a measure of the water vapour content of the air at a given temperature. The amount of moisture in the air is compared with the maximum amount that the air could contain at the same temperature and expressed as a percentage.</p>
  <hr class="my-4">
  
  <div><img src="assets/new/s2.png" class="rounded" alt=""></div>
  <br>
  <a class="btn btn-primary btn-lg" href="https://niwa.co.nz/education-and-training/schools/resources/climate/plots" role="button">Learn more</a>
</div>               
<div class="jumbotron" style="background-image: url('https://get.pxhere.com/photo/botanical-close-up-colors-dark-green-environment-fresh-freshness-green-green-leaves-grow-growth-leaves-outdoors-plants-1535033.jpg'); background-size:100%;">
  <h1 class="display-4" class="text-white">Temperature Graph</h1>
  <p class="lead" class="text-white">Temperature distribution is a solution of the equation of linear flow of heat [1]:(1) ∂ T ∂ t =α ∂ 2 T ∂ x 2 , where T=T(x,t) is the temperature in space–time point (x,t) and α is the thermal diffusivity.It is in contradiction with the theory of relativity and also with known mechanisms of heat conduction</p>
  <hr class="my-4">
  
  <div><img src="assets/new/s3.png" class="rounded" alt=""></div>
  <br>
  <a class="btn btn-primary btn-lg" href="https://niwa.co.nz/education-and-training/schools/resources/climate/plots" role="button">Learn more</a>
</div>
<div class="jumbotron" style="background-image: url('https://get.pxhere.com/photo/close-up-colors-dark-green-environment-freshness-fruits-green-green-leaves-growth-leaves-nature-outdoors-1535037.jpg'); background-size:100%;">
  <h1 class="display-4" class="text-white">Temperature Distribution Graph</h1>
  <p class="lead" class="text-white">Temperature distribution is a solution of the equation of linear flow of heat [1]:(1) ∂ T ∂ t =α ∂ 2 T ∂ x 2 , where T=T(x,t) is the temperature in space–time point (x,t) and α is the thermal diffusivity.It is in contradiction with the theory of relativity and also with known mechanisms of heat conduction</p>
  <hr class="my-4">
  
  <div><img src="assets/new/s4.png" class="rounded" alt=""></div>
  <br>
  <a class="btn btn-primary btn-lg" href="id=CjwKCAjwkPX0BRBKERpQ53hoCcZQQAvD_BwE&project=%2FClimate+Statistics%2FGlobalTemperatures" role="button">Learn more</a>
</div>
<div class="jumbotron" style="background-image: url('https://get.pxhere.com/photo/close-up-color-dark-green-dark-green-plants-environment-flora-foliage-fresh-freshness-garden-green-growth-leaves-natural-outdoors-plant-1519109.jpg'); background-size:100%;">
  <h1 class="display-4" class="text-white">Wind Speed Distribution Graph</h1>
  <p class="lead" class="text-white">Knowledge of extreme wind speed distributions is essential for design of buildings and structures. Current methods based on statistical analysis of the maximum annual measured wind speeds are not adapted to regions which are prone to tropical cyclones. Indeed, part of the maximum annual winds are produced by statistically different populations, depending on whether they are or are not due to the passage of a cyclone; in addition, extreme winds due to tropical cyclones are relatively rare for a given site (approximatively 1 to 3 occurences in ten years), and, what is more, the strongest winds cannot be always measured.</p>
  <hr class="my-4">
  
  <div><img src="assets/new/s8.png" class="rounded" alt=""></div>
  <br>
  <a class="btn btn-primary btn-lg" href="https://www.sciencedirect.com/topics/engineering/wind-speed-distribution" role="button">Learn more</a>
</div>     

        








     


     
          
              





            






