<div id="img" style="background-image: url('https://images.wallpaperscraft.com/image/leaves_green_dark_145996_1920x1080.jpg'); background-size:100%;">
    <br>
    <div class="page-header text-center">
        <h1 class="text-white">Credit Card Payment Gateway</h1>
    </div>
    <br>
    <!-- Credit Card Payment Form - START -->
    <div class="container">
        <div class="row">
            <div class="col-xs-10 col-md-12 col-md-offset-8">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="row">
                            <h3 class="col-xs-8 col-md-5" >Payment Details</h3>
                            <div class="inlineimage"> <img class="img-responsive images" src="https://cdn0.iconfinder.com/data/icons/credit-card-debit-card-payment-PNG/128/Mastercard-Curved.png"> <img class="img-responsive images" src="https://cdn0.iconfinder.com/data/icons/credit-card-debit-card-payment-PNG/128/Discover-Curved.png"> <img class="img-responsive images" src="https://cdn0.iconfinder.com/data/icons/credit-card-debit-card-payment-PNG/128/Paypal-Curved.png"> <img class="img-responsive images" src="https://cdn0.iconfinder.com/data/icons/credit-card-debit-card-payment-PNG/128/American-Express-Curved.png"> </div>
                        </div>
                    </div>
                    <br>
                    <div class="panel-body">
                        <form role="form">
                            <div class="row">
                                <div class="col-xs-8 col-md-5">
                                    <div class="form-group"> <label class="text-white">CARD NUMBER</label>
                                        <div class="input-group"> <input type="tel" class="form-control" placeholder="Valid Card Number" /> <span class="input-group-addon"></span> </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-xs-8 col-md-5">
                                    <div class="form-group"> <label><span class="hidden-xs" class="text-white">EXPIRATION /</span><span class="visible-xs-inline" class="text-white">EXP</span><span class="text-white">DATE</span> </label> <input type="tel" class="form-control" placeholder="MM / YY" /> </div>
                                </div>
                                <div class="col-xs-5 col-md-5 pull-right">
                                    <div class="form-group"> <label class="text-white">CV CODE</label> <input type="tel" class="form-control" placeholder="CVC" /> </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-xs-8 col-md-8">
                                    <div class="form-group"> <label class="text-white">CARD OWNER</label> <input type="text" class="form-control" placeholder="Card Owner Name" /> </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <br>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-xs-5 col-md-5"> <button class="btn btn-success btn-lg btn-block" routerLink="/message">Confirm Payment</button> </div>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<br>
